@{
    Layout = "~/Views/Shared/_LayoutTehnician.cshtml";
}
@{
    ViewBag.Title = "Index";
}

<h3>Panel administrare platforma</h3>
<table class="table">

    <tr>
        <th><h4>Gestiune utilizatori</h4></th>
    </tr>

    <tr>
        <td>
            <div>
                <a href="/Tehnician/ListaClienti">Clienti</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <a href="/Tehnician/ListaTehnicieni">Tehnicieni</a>
            </div>
        </td>
    </tr>
    <tr>
        <th><h4>Gestiune Servicii</h4></th>
    </tr>
    <tr>
        <td>
            <div>
                <a href="/Tehnician/ListaCategorii">Categorii</a>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div>
                <a href="/Tehnician/ListaServicii">Servicii</a>
            </div>
        </td>
    </tr>
    <tr>
        <th><h4>Programari Service</h4></th>
    </tr>
    <tr>
        <td>
            <div>
                <a href="Tehnician/ListaProgramari">Programari</a>
            </div>
        </td>
    </tr>

</table>

